<!--Perfil-->
<div id="container">
  <div id="perfilcontainer">
    <div id="parte1">

      <img id="pessoa" src="../../assets/85173132.jpg">
      <p id="nome">Gabriella Lopes</p>
      <p id="pronomes">ela/dela</p>
      <a href="#"><button id="seguir">Seguir</button></a>
    </div>


    <div id="parte2">
      <p id="postagem">Postagens</p>
      <p id="numero1">0</p>
      <p id="seguidores">Seguidores</p>
      <p id="numero2">0</p>
      <p id="seguindo">Seguindo</p>
      <p id="numero3">0</p>
    </div>
  </div>
</div>

<hr class="mt-5 mb-5">
<p class="text-center">
  Buscando inspiração? Conheça nosso <a routerLink="/explorar">Explorar</a>
</p>
<p class="text-center">
  <a routerLink="/quemsomos">Clique aqui</a> e conheça um pouco mais sobre nosso projeto Olá Mundo!
</p>
<p class="text-center">
  Para retornar ao menu inicial, clique <a routerLink="/layout-feed">aqui!</a>
</p>
