*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.bg-personalizado{

  background-color: rgb(128, 165, 170) !important;


}

.img-perfil{
border-radius: 80px !important;
width: 180px !important;
}

.btn-personalizado{
  background-color: #008080 !important;
  color:#ffffff !important  ;
  font-weight: bold !important;
  width: 70px !important;
}

.btn-personalizado2{
  background-color: #008080 !important;
  color:#ffffff !important  ;
  font-weight: bold !important;
  width: 200px !important;
  align-items: center !important;
}

.text-menu-feed{
  color: #ffffff !important;
}

.text-menu-feed:hover{
  color: #008080 !important;
  opacity: 0.7 !important;
}


