#img-bg {

  background-image: url(https://imgur.com/moD8Whb.jpg);

  height: 350px;
  padding-top: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


 }

 h1 {

  font-family: 'Spartan', sans-serif;
  font-size: 28px;

 }
