<div class="bg-principal col-md-12">

  <div class="container bg-principal d-flex justify-content-flex-start  ">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-12 mt-5 ">
          <h3 class="h3-color">Quem Somos</h3>
          <P> São Paulo é a o maior centro financeiro do país, e dispõe de uma vasta quantia de equipamentos culturais e
            atividades de lazer. São 280 salas de cinema, 180 teatros, 110 museus e mais de 90 centros culturais, alguns
            atendendo a parcela de maior poder aquisitivo, outros contemplando mais o público popular, o que leva muitos
            a
            dizerem que "sempre há um programa para se fazer em São Paulo". A vida noturna da cidade também é referência
            e
            um de seus pontos altos. Isso sem falar nas compras, com mais de 45 shoppings e dezenas de ruas de comércio
            especializado. E na gastronomia, são mais de 12 mil restaurantes, com 52 tipos de cozinha, como por exemplo:
            comidas japonesas, indianas, típicas brasileiras, mexicana e afins.Tendo em vista esses dados, criamos essa
            rede social informativa e colaborativa onde nosso intuito é dar visibilidade para o turismo sustentável e
            incentivo ao turismo local, com lugares já em destaque mas com o apelo para a colaboraçãodos usuários, onde
            poderiam colocar sugestões de lugares interessantes para conhecer, divulgar pequenos comercios e serviços, e
            ainda avaliar os pontos turisticos propostos. O objetivo é a troca de experiencias. Vem
            conhecer a verdadeira São Paulo, e diga OLÁ MUNDO!!!
          </P>
        </div>
      </div>

      <div class="d-flex align-items-center">
        <div class="col-md-6  ml-5">
          <iframe src="../../assets/img/Quer TURISTAR.mp4" frameborder="0" width="450px" height="350px"></iframe>
        </div>
      </div>

    </div>
  </div>

  <!-- colaboradores -->
  <div class="colaborador">

    <div class="row conteudos mt-5">
      <div class="col-md-3 col-sm-6">
        <div class="card img-colaboradores" style="width: 18rem;">
          <img src="../../assets/img/stonks.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="h4-cor">Fernando Caruso</h4>

            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card'
              content.

              <a class="p-2" href="https://www.linkedin.com/in/fernando-caruso-536715107/" target="_blank"><img
                  class=h4-cor src="../../assets/img/linkedin (1).png" alt="logo do Linkedin" width="20px"></a>
              <a href="https://github.com/fernandocaruso" target="_blank"><img class=tm-social
                  src="../../assets/img/github (1).png" alt="logo do Github" width="20px"></a></p>

          </div>
        </div>
      </div>


      <div class="col-md-3 col-sm-6">
        <div class="card img-colaboradores" style="width: 18rem;">
          <img src="../../assets/img/meme-da-garota-do-desastre.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="h4-cor">Gabriella Lopes</h4>

            <p class="card-text">Olá, meu nome é Gabriella Lopes, tenho 19 anos, acabei de me formar na minha primeira
              experiência com tecnologia através da Generation Brasil. Sou bastante empática, entusiasmada, proativa e
              gosto de aprender coisas novas. Por meses trabalhei voluntariamente em uma ONG de adoção de animais onde
              pude ter contato direto com as pessoas, assim aprimorando minha habilidade de comunicação e trabalho em
              equipe. Estou a procura do meu primeiro emprego na área da tecnologia, onde poderei acrescentar, aprender
              e
              desenvolver meus conhecimentos referente ao técnico e habilidades interpessoais.<a class="p-2"
                href="https://www.linkedin.com/in/gabriella-lopes-170a73201/" target="_blank"><img class=tm-social
                  src="../../assets/img/linkedin (1).png" alt="logo do Linkedin" width="20px"></a>

              <a href="https://github.com/GabriellaLopess" target="_blank"><img class=tm-social
                  src="../../assets/img/github (1).png" alt="logo do Github" width="20px"></a></p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="card img-colaboradores" style="width: 18rem;">
          <img src="../../assets/img/kardashianchorando.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="h4-cor">Pamella Santos</h4>

            <p class="card-text txt-color">Olá, eu sou a Pamella, tenho 30 anos. Sou formada em Design de Interiores e
              Técnico em Edificações. Após atuar na área da construção civil por 10 anos liderando equipes, vejo a
              tecnologia como uma área com melhores condições de crescimento pessoal e profissional. Trilhando o caminho
              de encontrar realização profissional acabei desenvolvendo habilidades fundamentais como a comunicação,
              trabalho em equipe e resolução de problemas. <a class="p-2"
                href="https://www.linkedin.com/in/pamella-oliveira-santos/" target="_blank"><img class=tm-social
                  src="../../assets/img/linkedin (1).png" alt="logo do Linkedin" width="20px"></a>
              <a href="https://github.com/pamellaolys" target="_blank"><img class=tm-social
                  src="../../assets/img/github (1).png" alt="logo do Github" width="20px"></a></p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="card img-colaboradores" style="width: 18rem;">
          <img src="../../assets/img/meme-caruso.jpg" class="card-img-top img-colaboradores" alt="...">
          <div class="card-body">
            <h4 class="h4-cor">Rafael Santos de Almeida</h4>

            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.
              <a class="p-2" href="https://www.linkedin.com/in/rafael-santos-de-almeida-8a65381b3/" target="_blank"><img
                  class=tm-social src="../../assets/img/linkedin (1).png" alt="logo do Linkedin" width="20px"></a>
              <a href="https://github.com/Rafael702" target="_blank"><img class=tm-social
                  src="../../assets/img/github (1).png" alt="logo do Github" width="20px"></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<hr class="mt-5 mb-">

<p class="text-center">
  Não possui uma conta no Olá Mundo? <a routerLink="/cadastrar">Cadastre-se</a>
</p>
<p class="text-center">
  Buscando inspiração? Conheça nosso <a routerLink="/explorar">Explorar</a>
</p>

<div id="mostarda">
  <p class="text-center">
    Para retornar ao menu inicial, <a routerLink="/layout-feed">clique aqui!</a>
  </p>
</div>
