<div class="container-fluid bd-personalizado ">
  <div class="row mt-3 borda d-flex justify-content-center">
    <!-- <div class=" text-center bg-personalizado  caixa-foto" style="width: 340px; height: 50px ; border: solid 2px; "> -->
    <!-- perfil -->
    <div class="col-md-3 caixa-perfil borda d-flex align-items-center flex-column">
      <h3 class="text-menu-feed">Perfil</h3>
      <img class="img-perfil" src="{{foto}}" alt="foto do usuario">
      <p class="m-0 font-weight-bold text-white fontsize16"> {{nome}}</p>
      <button type="button" class="btn btn-secondary btn-personalizado " [routerLink]="['/usuario-edit' , id]">Editar</button>
    </div>
    <!-- tema e postagem -->
    <div class=" col-md-4 caixa-postagens d-flex align-items-center flex-column borda">
      <h3>Tema</h3>
      <button type="button" class="btn btn-secondary btn-personalizado2 mb-2" routerLink='/tema'>Novo
        tema</button>
      <div class="btn-group-vertical mt-3 d-flex justify-content-center">
        <h3 class="text-center">Postagens</h3>
        <button type="button" data-toggle="modal" data-target="#novapostagem"
          class="btn btn-secondary btn-personalizado2 mb-2">Nova
          Postagem</button>
        <button type="button" class="btn btn-secondary btn-personalizado2 mb-2" href="#todasPostagens">Todas
          as Postagens</button>
        <button type="button" (click)='findByIdUsuario()' class="btn btn-secondary btn-personalizado2 mb-2" href="#minhasPostagens">Minhas Postagens</button>
        <button type="button" class="btn btn-secondary btn-personalizado2 mb-2" routerLink=''>Postagens por
          tema</button>
      </div>
    </div>
    <!-- imagem -->
    <div class="col-md-4 borda d-flex justify-content-center">
      <img src="../../assets/img/gif do tema.gif" alt="gif de uma menina lendo mapa" width="250px ">
    </div>
  </div>

  <!-- feed -->
  <div class="row" id="todasPostagens">
    <div class="col-md-12 ml-3">
      <div class="container-fluid d-flex text-center">
        <div class="col-12" style="height: 1550px; border: solid 2px;">
          <div class="tab-content" id="nav-tabContent">
            <h1 class="text- mb-3 ">Postagens</h1>

            <div class="col-md-12 borda">

              <div class="tab-content mt-5" id="nav-tabContent">
                <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">
            
                  <div class="card-columns">
                    <div class="card"  style="width: 18rem;" *ngFor='let item of listaPostagem'>
                      <div class="card-body">
                        <h5 class="card-title">{{item.titulo}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{item.usuario.nome}}</h6>
                        <p class="">{{item.tema.temaPostagem}}</p>
                        <p class="card-text">{{item.texto}}</p>
                        <p class="card-text">{{item.agenda}}</p>
                        <p class="card-text">{{item.contato}}</p>
                        <p class="">{{item.data | date: 'dd/MM/yyyy'}}</p>
            
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="minhasPostagens-tab">

                    <div class="card-columns">
                      <div class="card"  style="width: 18rem;" *ngFor='let item of user.postagem'>
                        <div class="card-body">
                          <h5 class="card-title">{{item.titulo}}</h5>
                          <p class="">{{item.tema.temaPostagem}}</p>
                          <p class="card-text">{{item.texto}}</p>
                          <p class="card-text">{{item.agenda}}</p>
                          <p class="card-text">{{item.contato}}</p>
                          <p class="">{{item.data | date: 'dd/MM/yyyy'}}</p>
                          <button [routerLink]="['/postagem-edit', item.id]" type="button" class="btn btn-outline-success mr-3">Editar</button>
                          <button [routerLink]="['/postagem-delete', item.id]" type="button" class="btn btn-outline-danger">Apagar</button>
              
                        </div>
                      </div>
                    </div>

              
                  </div>

                <div class="card-columns" *ngFor='let tema of listaTemas'>
                  <div class="card"  style="width: 18rem;"  *ngFor='let item of tema.postagem'>
                    <div class="card-body">
                      <h5 class="card-title">{{item.titulo}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{item.usuario.nome}}</h6>
                      <p class="">{{item.tema.temaPostagem}}</p>
                      <p class="card-text">{{item.texto}}</p>
                      <p class="card-text">{{item.agenda}}</p>
                      <p class="card-text">{{item.contato}}</p>
                      <p class="">{{item.data | date: 'dd/MM/yyyy'}}</p>
          
                    </div>
                  </div>
                </div>
            
            


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <hr class="mt-5 mb-5">
    <p class="text-center">
      Não possui uma conta no Olá Mundo? <a routerLink="/cadastrar">Cadastre-se</a>
    </p>
    <p class="text-center">
      Já possui conta no Olá Mundo? <a routerLink="/entrar">Faça Login</a>
    </p>
    <p class="text-center">
      Buscando inspiração? Conheça nosso <a routerLink="/explorar">Explorar</a>
    </p>
    <hr class="mt-5 mb-5">
    <p class="text-center">
      <a routerLink="/quemsomos">Clique aqui</a> e conheça um pouco mais sobre nosso projeto Olá Mundo!
    </p>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="novapostagem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="novapostagem">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="titulo">Título</label>
          <input [(ngModel)]='postagem.titulo' type="text" class="form-control" name="titulo" id="titulo" placeholder="Digite o título">
        </div> 

        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea [(ngModel)]='postagem.texto'class="form-control" name="texto" id="texto" cols="" rows="3"></textarea>
        </div>


        <div class="form-group">
          <label for="agenda">Agenda</label>
          <input [(ngModel)]='postagem.agenda' type="text" class="form-control"name="agenda"  id="agenda"
            placeholder="Digite o horário de funcionamento (ex:Seg. a Sex. das 12:00 a 00:00)">
        </div>

        <div class="form-group">
          <label for="contato">Contato</label>
          <input [(ngModel)]='postagem.contato' type="text" class="form-control" name="contato" id="contato"
            placeholder="Insira o contato aqui (ex:Telefone,e-mail,site)">
        </div>


        <div class="form-group">
          <label for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink='/tema'>cadastre um
              novo</a>:</label>
              <select class="form-control" name="tema" id="tema"[(ngModel)]='idTema'
              (change)='findByIdTema'>
                <option *ngFor='let item of listaTemas' value="{{item.id}}">{{item.temaPostagem}}</option>
              </select>
    
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)='publicar()' data-dismiss="modal">Publicar</button>
      </div>


    </div>
  </div>
</div>