<div class="bd-personalizado col-md-12">
  <div class="container d-flex ">

    <div class="col-4 ml-3">
      <div class="row justify-content-center mt-3">
        <div class=" h-100 text-center bg-personalizado " style="width: 340px; height: 340px ; border: solid 2px; ">
          <h1 class="text-menu-feed"> <a routerLink="/perfil">Perfil</a></h1>
          <div class="col-md-12 mt-3">
            <img class="img-perfil" src= "{{foto}}" alt="foto do usuario">
            <p class="m-0 font-weight-bold text-white fontsize16"> Olá, {{nome}}</p>
          </div>
          <div class="btn-group-vertical mt-3">
            <button type="button" class="btn btn-secondary btn-personalizado mb-2 ">Editar</button>

          </div>
        </div>


        <div class="row justify-content-center mt-3">
          <h1> <a >Tema</a></h1>
        </div>

        <div class="row justify-content-center">
          <div class="btn-group-vertical mt-3 ">
            <button type="button" class="btn btn-secondary btn-personalizado2 mb-2" routerLink='/tema' >Novo tema</button>
            <button type="button" class="btn btn-secondary btn-personalizado2 mb-2" routerLink='/tema-edit/:id' >Editar Tema</button>
            <button type="button" class="btn btn-secondary btn-personalizado2 mb-2" routerLink='/tema-delete/:id' >Apagar tema</button>
          </div>


          <img src="../../assets/img/gif do tema.gif" alt="gif de uma menina lendo mapa" width="250px ">
        </div>

      </div>
    </div>

    <div class="col-9 ml-3">
      <div class="container-fluid d-flex text-center">
        <div class="col-12" style="height: 1550px; border: solid 2px;">
          <div class="tab-content" id="nav-tabContent">
            <h1 class="text- mb-3 ">Postagens</h1>
            <div class="tab-pane fade " id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <hr class="mt-5 mb-5">
  <p class="text-center">
    Não possui uma conta no Olá Mundo? <a routerLink="/cadastrar">Cadastre-se</a>
  </p>
  <p class="text-center">
    Já possui conta no Olá Mundo? <a routerLink="/entrar">Faça Login</a>
  </p>
  <p class="text-center">
    Buscando inspiração? Conheça nosso <a routerLink="/explorar">Explorar</a>
  </p>
  <hr class="mt-5 mb-5">
  <p class="text-center">
    <a routerLink="/quemsomos">Clique aqui</a> e conheça um pouco mais sobre nosso projeto Olá Mundo!
  </p>
</div>
