<div class="container d-flex bd-highlight">

  <div class="col-3 ml-3">
    <div class="h-100 text-center" style="width: 240px; border: solid 2px;">
      <h1> <a routerLink="/perfil">Perfil</a></h1>
    </div>
  </div>


  <div class="container-fluid d-flex text-center">
    <div class="col-11" style="height: 1000px; border: solid 2px;">
      <div class="tab-content" id="nav-tabContent">
        <h1 class="text- ml-3">FEED</h1>
        <div class="tab-pane fade " id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
        </div>
      </div>
    </div>


    <hr>
    <div class="col-2 text-center">
      <div class="h-100" style="width: 265px; border: solid 2px;">
        <h1>Pt Extra</h1>
      </div>
    </div>

  </div>
</div>

<div class="col-md-12">
<hr class="mt-5 mb-5">
<p class="text-center">
  Não possui uma conta no Olá Mundo? <a routerLink="/cadastrar">Cadastre-se</a>
</p>
<p class="text-center">
  Já possui conta no Olá Mundo? <a routerLink="/entrar">Faça Login</a>
</p>
<p class="text-center">
  Buscando inspiração? Conheça nosso <a routerLink="/explorar">Explorar</a>
</p>
<hr class="mt-5 mb-5">
<p class="text-center">
  <a routerLink="/quemsomos">Clique aqui</a> e conheça um pouco mais sobre nosso projeto Olá Mundo!
</p>
</div>
