<div class="container-fluid">

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="row d-flex align-items-center">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/img-entrar-cadastrar/timelapseSP.gif" class="center d-block w-75 m-1"
            alt="São Paulo: a cidade que nunca dorme.">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row row-col-12 row-col-md-1 m-5 bg-dark pt-5 rounded">
    <div class="col mb-5 d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img-entrar-cadastrar/1av paulista noite.jpg" class="card-img-top" alt="Av. Paulista">
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img-entrar-cadastrar/2av paulista.jpg" class="card-img-top" alt="Av. Paulista">
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img-entrar-cadastrar/3av paulista111.jpg" class="card-img-top" alt="Av. Paulista">
      </div>
      <div class="container">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img-entrar-cadastrar/4capital sp.jpg" class="card-img-top" alt="Imagem capital de SP">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img-entrar-cadastrar/5cerqueira cesar.jpg" class="card-img-top"
            alt="Cerqueira Cesar/SP">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img-entrar-cadastrar/6consolação.jpg" class="card-img-top"
            alt="Vista cima Consolação SP">
        </div>
      </div>
      <div class="container">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img-entrar-cadastrar/7deck sao sebastiao - ilhabela.jpg" class="card-img-top"
            alt="praia/deck são sebastião">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img-entrar-cadastrar/8edificio copan.jpg" class="card-img-top" alt="Edificio Copan">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img-entrar-cadastrar/9estação luz.jpg" class="card-img-top" alt="Estação Luz">
        </div>
      </div>
      <div class="container">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img-entrar-cadastrar/10estação luz1.jpg" class="card-img-top" alt="Estação Luz">
          <!-- foto 10 -->
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img-entrar-cadastrar/11farol santander mesa.jpg" class="card-img-top"
            alt="Farol Santander">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img-entrar-cadastrar/12farolsantander.jpg" class="card-img-top" alt="Farol Santander">
        </div>
      </div>
      <div class="container">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img-entrar-cadastrar/13galeriadorock.jpg" class="card-img-top" alt="galeria do rock">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img-entrar-cadastrar/14Igreja Nossa Senhora do Rosário dos Homens Pretos.jpg"
            class="card-img-top" alt="Igreja Nossa Senhora do Rosário dos Homens Pretos">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img-entrar-cadastrar/15manifestante.jpg" class="card-img-top" alt="manifestante">
        </div>
      </div>
      <div class="container">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img-entrar-cadastrar/16Museu do Ipiranga.jpg" class="card-img-top"
            alt="Museu do Ipiranga">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img-entrar-cadastrar/17ponte Octávio Frias de Oliveira.jpg" class="card-img-top"
            alt="Ponte Estaiada">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img-entrar-cadastrar/18praça por do sol.jpg" class="card-img-top"
            alt="Praça Por do Sol">
        </div>
      </div>
      <div class="container">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img-entrar-cadastrar/19salasaopaulo.jpg" class="card-img-top" alt="Sala São Paulo">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img-entrar-cadastrar/20selva de pedra.jpg" class="card-img-top" alt="Centro SP">
          <!-- foto 20 -->
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img-entrar-cadastrar/21terminal bandeira.jpg" class="card-img-top"
            alt="Terminal Bandeira">
        </div>
      </div>
      <div class="container">
        <div class="card" style="width: 10rem;">
          <img src="../../assets/img-entrar-cadastrar/22torre cásper libero.jpg" class="card-img-top"
            alt="Torre Cásper Líbero">
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img-entrar-cadastrar/23trilha das 7 praias - ubatuba.jpg" class="card-img-top"
            alt="praia/trilha das 7 praias em Ubatuba">
        </div>
      </div>



    </div>
  </div>

  <hr class="mt-5 mb-5">
  <p class="text-center">
    Não possui uma conta no Olá Mundo? <a routerLink="/cadastrar">Cadastre-se</a>
  </p>
  <p class="text-center">
    Já possui conta no Olá Mundo? <a routerLink="/entrar">Faça Login</a>
  </p>
  <p class="text-center">
    Buscando inspiração? Conheça nosso <a routerLink="/explorar">Explorar</a>
  </p>
  <hr class="mt-5 mb-5">
  <p class="text-center">
    <a routerLink="/quemsomos">Clique aqui</a> e conheça um pouco mais sobre nosso projeto Olá Mundo!
  </p>
  <p class="text-center">
    Para retornar ao menu inicial, clique <a routerLink="/layout-feed">aqui!</a>
  </p>
